extends layout


block flow

    h1= title

    a(href="/flow/home")!= "Back to Main Menu"
    div.newflow

        form( method="post" , action="/flow/categories" )
            input(type="hidden")

            div
                div

                    <br><br>
                div

                    span.label Library Name :
                    &nbsp;
                    select(name='libraryName' )
                      values =  libraries
                      for item in values
                        option(value = "#{item}"  ) #{item}                
                div

                    <br><br>  

                div#editFlowSubmit

                   
                    input(type="submit", value="Get Categories")

        a(href="/flow/home")!= "Back to Main Menu"