extends layout


block flow
    h1= title
    #Links 
          
         
            <br>
            a(href="/flow/new")!= "Add New Flow" 
            <br>Add new Flow using above link<br><br>
            a(href="/flow/libraries")!= "Add New Dynamic Flow" 
            <br>Add new Flow using above link<br><br>
            a(href="/flow/all")!= "View Flows"
            <br>View the list of all the flows in the tool.<br>Also you can delete/edit the flows here.<br><br>
            a(href="/")!= "Home"
            <br>Go to Home page.<br><br>
            
    
    
      
   