extends layout


block flow

  - function isEmptyObject(obj) {
  -      var name;
  -      for (name in obj) {
  -        return false;
  -      }
  -      return true;
  -    }

    h1= title

    - if (isEmptyObject(errors) == false)
      p.errorMessage= "The following errors occurred:"
      ul  
        - each error in errors
          li= error.msg
    a(href="/flow/home")!= "Back to Main Menu"
    div.newflow

        form( method="post")

            div
                div

                    <br><br>
                div

                    span.label Library Name :
                    &nbsp;
                    select(name='libraryName',onselect='submit')
                      values =  libraries
                      for item in values
                        option(value = "#{item}" ) #{item}                
                div

                    <br><br>  

                div#editFlowSubmit

                   
                    input(type="submit", value="Save")

        a(href="/flow/home")!= "Back to Main Menu"