extends layout


block flow

  - function isEmptyObject(obj) {
  -      var name;
  -      for (name in obj) {
  -        return false;
  -      }
  -      return true;
  -    }

    h1= title

    - if (isEmptyObject(errors) == false)
      p.errorMessage= "The following errors occurred:"
      ul  
        - each error in errors
          li= error.msg
    a(href="/flow/home")!= "Back to Main Menu"
    div.newflow

        form( method="post")

            div


                div

                    span.label Flow Name : 

                    &nbsp;
                    input(type="text", name="flowName", id="editflowName", value=flowName, size=30)
                div

                    <br><br>  

                div

                    span.label Today's Data Rule Name : 
                    &nbsp;
                    input(type="text", name="ruleName_todaysData", id="editruleName_todaysDataName", value=ruleName_todaysData, size=30)

                div

                    span.label Is Rule Enabled? :
                    &nbsp;
                    select(name='todaysData_Enabled')
                      values =  config.DROPDOWN_DATA.COMMONN_DATA.boolean_data 
                      for item in values
                        option(value = "#{item}",selected=todaysData_Enabled=="#{item}") #{item}
                div

                    span.label  Data Condition :
                    &nbsp;
                    select(name='todaysData_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition 
                      for item in values
                        option(value = "#{item}",selected=todaysData_Condition=="#{item}") #{item}

                div

                    span.label  Data Value: 
                    &nbsp;
                    input(type="text", name="todaysData", id="edittodaysData", value=todaysData, size=10)
                div

                    span.label  Length Condition :
                    &nbsp;
                    select(name='todaysDataLength_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition  
                      for item in values
                        option(value = "#{item}",selected=todaysDataLength_Condition=="#{item}") #{item}
                div

                    span.label  Lenght Value: 
                    &nbsp;
                    input(type="text", name="todaysDataLength", id="edittodaysDataLength", value=todaysDataLength, size=10)
                div

                    span.label Reward : 
                    &nbsp;
                    input(type="text", name="reward_todaysData", id="editreward_todaysData", value=reward_todaysData, size=10)
                
                div

                    span.label Emit Event : 
                    &nbsp;                    
                    select(name='emitEvent_todaysData')
                      values =  config.DROPDOWN_DATA.FLOW_DATA.emit_event 
                      for item in values
                        option(value = "#{item}",selected=emitEvent_todaysData=="#{item}") #{item}
                div

                    <br><br>  

               div

                    span.label Week Data Rule Name : 
                    &nbsp;
                    input(type="text", name="ruleName_weeksData", id="editruleName_weeksData", value=ruleName_weeksData, size=30)

                div

                    span.label Is Rule Enabled? :
                    &nbsp;
                    select(name='weeksData_Enabled')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.boolean_data 
                      for item in values
                        option(value = "#{item}",selected=weeksData_Enabled=="#{item}") #{item}
                div

                    span.label  Data Condition :
                    &nbsp;
                    select(name='dayInWeek_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition  
                      for item in values
                        option(value = "#{item}",selected=dayInWeek_Condition=="#{item}") #{item}

                div

                    span.label Days in Weeks : 
                    &nbsp;
                    input(type="text", name="dayInWeek", id="editdayInWeek", value=dayInWeek, size=10)
                div

                    span.label  Length Condition :
                    &nbsp;
                    select(name='lenght_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition  
                      for item in values
                        option(value = "#{item}",selected=lenght_Condition=="#{item}") #{item}
                div

                    span.label Length : 
                    &nbsp;
                    input(type="text", name="weekLength", id="editlength", value=weekLength, size=10)
                div
                    span.label  DataResult Condition :
                    &nbsp;
                    select(name='dataResult_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition  
                      for item in values
                        option(value = "#{item}",selected=dataResult_Condition=="#{item}") #{item}
                div

                    span.label Data Result : 
                    &nbsp;
                    input(type="text", name="dataResult", id="editdataResult", value=dataResult, size=10)
                div

                    span.label Reward : 
                    &nbsp;
                    input(type="text", name="reward_weeksData", id="editreward_weeksData", value=reward_weeksData, size=10)
                
                div

                    span.label Emit Event : 
                    &nbsp;                    
                    select(name='emitEvent_weeksData')
                      values =  config.DROPDOWN_DATA.FLOW_DATA.emit_event 
                      for item in values
                        option(value = "#{item}",selected=emitEvent_weeksData=="#{item}") #{item}

                div

                    <br><br>  
                div

                    span.label Competition Data Rule Name : 
                    &nbsp;
                    input(type="text", name="ruleName_competitionData", id="editruleName_competitionData", value=ruleName_competitionData, size=30)

                div

                    span.label Is Rule Enabled? :
                    &nbsp;
                    select(name='competitionData_Enabled')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.boolean_data  
                      for item in values
                        option(value = "#{item}",selected=competitionData_Enabled=="#{item}") #{item}

                div
                    span.label  Data Condition :
                    &nbsp;
                    select(name='usersCompetitionData_Condition')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition 
                      for item in values
                        option(value = "#{item}",selected=usersCompetitionData_Condition=="#{item}") #{item}
                div

                    span.label User Competition Data : 
                    &nbsp;
                    input(type="text", name="usersCompetitionData", id="editusersCompetitionData", value=usersCompetitionData, size=10)
                div

                    span.label Reward : 
                    &nbsp;
                    input(type="text", name="reward_competitionData", id="editreward_competitionData", value=reward_competitionData, size=10)
                
                div

                    span.label Emit Event : 
                    &nbsp;                    
                    select(name='emitEvent_competitionData')
                      values =  config.DROPDOWN_DATA.FLOW_DATA.emit_event 
                      for item in values
                        option(value = "#{item}",selected=emitEvent_competitionData=="#{item}") #{item}
                div

                    <br><br>  

                div#editFlowSubmit

                   
                    input(type="submit", value="Save")

        a(href="/flow/home")!= "Back to Main Menu"