extends layout

block flow

  - function confirmDelete() {
  -      return confirm("Are you sure you want to delete this flow content?");
  -    }


    h1= title
    a(href="/flow/home")!= "Back to Main Menu"    
    #flows
        - each flow in flows
          div.flow
            div.flowName= "Flow Name       : "+flow.flowName
            div.ruleName_todaysData= "Today's Data Rule       : "+flow.ruleName_todaysData+" ( Today's Data "+flow.todaysData_Condition+" "+flow.todaysData+" ,Today's Data Length "+flow.todaysDataLength_Condition+" "+flow.todaysDataLength+")"
            div.ruleName_weeksData= "Week Data Rule: "+flow.ruleName_weeksData+" ( Week Data "+flow.dayInWeek_Condition+" "+flow.dayInWeek+" ,Week's Data Length "+flow.lenght_Condition+" "+flow.weekLength+")" 
            div.ruleName_competitionData= "Competition Data Rule   : "+flow.ruleName_competitionData+" ( UserCompetitionData "+flow.usersCompetitionData_Condition+" "+flow.usersCompetitionData+")"             
                form( method="post", action="/flow/:id/delete")
                    input(name="_id", type="hidden", value=flow._id.toHexString())
                    input(id="delete", value="Delete", type="submit" )
                form( method="get", action="/flow/:id/edit")
                    input(name="_id", type="hidden", value=flow._id.toHexString())
                    input(id="edit", value="Edit", type="submit")
                form( method="get", action="/flow/:id/export")
                    input(name="_id", type="hidden", value=flow._id.toHexString())
                    input(id="export", value="Export", type="submit")
    a(href="/flow/home")!= "Back to Main Menu"