extends layout


block flow

    h1= title

    a(href="/flow/home")!= "Back to Main Menu"
    div.newflow

        form( method="post" , action="/flow/function" )
            input(type="hidden")
            div
                div

                    span.label Library :
                    &nbsp;                   
                    input(type="text", name="libraryName", value=library, size=20, readonly="true", style="BACKGROUND-COLOR: LightGrey")               
                div
                    
                    <br><br>
                div

                    span.label Category :
                    &nbsp;
                    select(name='categoryName')
                      values =  categories
                      for item in values
                        option(value = "#{item}" ) #{item}                
                div

                    <br><br>  

                div#editFlowSubmit

                   
                    input(type="submit", value="Get Functions")

        a(href="/flow/home")!= "Back to Main Menu"