extends layout


block flow

    h1= title

    a(href="/flow/home")!= "Back to Main Menu"
    div.newflow

        form( method="get" , action="/flow/home" )
            input(type="hidden")
            div
                div

                    span.label Library Name:
                    &nbsp;                   
                    input(type="text", name="libraryName", value=library, size=20, readonly="true", style="BACKGROUND-COLOR: LightGrey")               
                div
                    
                    <br>
                div

                    span.label Category Name:
                    &nbsp;                   
                    input(type="text", name="categoryName", value=categories, size=20, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div
                    
                    <br>
                div

                    span.label Function Name :
                    &nbsp;                   
                    input(type="text", name="functionName", value=functionName, size=20, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div
                    
                    <br>
                div

                    span.label Param Name :
                    &nbsp;                   
                    input(type="text", name="#{paramName}", size=20, value=paramName,readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div
                    
                    <br>
                div

                    span.label Condition : 
                    &nbsp;
                    select(name='isQuestionEnabled')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.condition  
                      for item in values
                        option(value = "#{item}") #{item}
                div
                    
                    <br>
                div

                    span.label Value :
                    &nbsp;                   
                    input(type="text", name="paramValue", size=20, value=defaultValue)
                div
                    
                    <br>
                div

                    span.label ParamType :
                    &nbsp;                   
                    input(type="text", name="type", size=20, value=paramType,readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    <br><br>  

                div#editFlowSubmit

                   
                    input(type="submit", value="Save Flow")

        a(href="/flow/home")!= "Back to Main Menu"