extends layout


block question
    h1= title
    #Links 
          
         
            <br>
            a(href="/question/home")!= "Question Content Management" 
            <br>Add/Update/Delete/Import/Export Question Contents using above link.<br><br>
            a(href="/flow/home")!= "Flow Management"
            <br>Add/Update/Delete/Export Flows using above link.<br><br>
            a(href="/")!= "Trigger Management"
            <br>Add/Update/Delete Triggers using above link.<br><b><font color="red">Under Construction</font></b>.<br><br>
            a(href="/")!= "Pushed Event Management"
            <br>Add/Update/Delete Pushed Events using above link.<br><b><font color="red">Under Construction</font></b>.<br><br>
           
            
    
    
      
   