doctype 5


html

  head

   

    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    img(src="/image/healthrageous.gif" , width="200", height="40")
    block question
    block flow
