extends layout

block question
    h1= title
    #Links 
      <br><br>
      form(method="post", enctype="multipart/form-data", action="/question/import")
          input(type="file" ,name="myfile") 
          <br><br>
          input(type="submit", value="Upload" )
      <br>
      a(href="/question/home")!= "Back to Main Menu"
      <br><br>