extends layout


block question
    h1= title
    #Links 
          
         
            <br>
            a(href="/question/new")!= "Add New Question" 
            <br>Add new Question content using above link<br><br>
            a(href="/question/all")!= "View Questions"
            <br>View the list of all the question contents in the tool.<br>Also you can delete/edit the question contents here.<br><br>
            a(href="/question/import")!= "Import Questions"
            <br>Import the question contents from an external question.js file into the tool's DB<br><br>
            a(href="/question/export")!= "Export Questions"
            <br>Export the question contents from the tool to an external question.js file.<br><br>
            a(href="/")!= "Home"
            <br>Go to Home page.<br><br>
            
    
    
      
   