extends layout

block question
    h1= title
    #Links
      <br>
      There Seems to be a file format error.Please try to upload a file with correct format.
      <br>
      a(href="/question/home")!= "Back to Main Menu"
      <br><br>