extends layout

block question
    h1= title
    #Links
      <br>
      The Questions have been successfully Imported!
      <br>
      a(href="/question/home")!= "Back to Main Menu"
      <br><br>