extends layout

block question

  - function confirmDelete() {
  -      return confirm("Are you sure you want to delete this question content?");
  -    }


    h1= title
    a(href="/question/home")!= "Back to Main Menu"    
    #questions
        - each question in questions
          div.question
            div.questionName= "Question Name       : "+question.questionName
            div.questionType= "Question Type       : "+question.questionType
            div.questionDescription= "Question Description: "+question.questionDescription 
            div.questionCategory= "Question Category   : "+question.questionCategory
            div.questionText0= "Question Text 0     : "+question.questionText0
                form( method="post", action="/question/:id/delete")
                    input(name="_id", type="hidden", value=question._id.toHexString())
                    input(id="delete", value="Delete", type="submit" )
                form( method="get", action="/question/:id/edit")
                    input(name="_id", type="hidden", value=question._id.toHexString())
                    input(id="edit", value="Edit", type="submit")
    a(href="/question/home")!= "Back to Main Menu"