extends layout


block question

  - function isEmptyObject(obj) {
  -      var name;
  -      for (name in obj) {
  -        return false;
  -      }
  -      return true;
  -    }

    h1= title

    - if (isEmptyObject(errors) == false)
      p.errorMessage= "The following errors occurred:"
      ul  
        - each error in errors
          li= error.msg
    a(href="/question/home")!= "Back to Main Menu"
    div.newquestion

        form( method="post")

            div


                div

                    span.label Question Name : 
                    &nbsp;
                    input(type="text", name="questionName", id="editQuestionQuestionName", value=questionName, size=40)
                div

                    span.label Question Type : 
                    &nbsp;
                    select(name='questionType')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.questionTypes
                      for item in values
                        option(value = "#{item}",selected=questionType=="#{item}") #{item}
                div

                    span.label Question Description : 
                    &nbsp;
                    select(name='questionDescription')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.questiondescriptions 
                      for item in values
                        option(value = "#{item}",selected=questionDescription=="#{item}") #{item}
                div

                    span.label Question Category : 
                    &nbsp;
                    select(name='questionCategory')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.questionCategories 
                      for item in values
                        option(value = "#{item}",selected=questionCategory=="#{item}") #{item}
                div

                    span.label Question Text 0 : 
                    &nbsp;
                    textarea(name="questionText0", id="editQuestionQuestionText0",rows=3,cols=50)
                         |#{questionText0} 

                div

                    span.label Question Text 1 : 
                    &nbsp;
                    textarea(name="questionText1", id="editQuestionQuestionText1",rows=3,cols=50)
                         |#{questionText1}
                div

                    span.label Question Text 2 : 
                    &nbsp;
                    textarea(name="questionText2", id="editQuestionQuestionText2",rows=3,cols=50)
                         |#{questionText2}
                div

                    span.label Icon : 
                    &nbsp;
                    input(type="text", name="icon", id="editQuestionIcon", value=icon, size=40)
                div

                    span.label Is Question Enabled? : 
                    &nbsp;
                    select(name='isQuestionEnabled')
                      values = config.DROPDOWN_DATA.COMMONN_DATA.boolean_data  
                      for item in values
                        option(value = "#{item}",selected=isQuestionEnabled=="#{item}") #{item}
                div

                    <br><br>
                div

                    span.label Data 0 :
                    &nbsp;&nbsp;
                    input(type="text",  value="Values for Data 0", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id0", id="editQuestionId0", value=0, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name0", id="editQuestionName0", value=name0, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value0", id="editQuestionValue0", value=value0, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state0", id="editQuestionState0", value=state0, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type0')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types  
                      for item in values
                        option(value = "#{item}",selected=type0=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width0", id="editQuestionWidth0", value=width0, size=5)
                div

                    <br><br>
                div

                    span.label Data 1 : 
                    &nbsp;                  
                    input(type="text",  value="Values for Data 1", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 

                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id1", id="editQuestionId1", value=1, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name1", id="editQuestionName1", value=name1, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value1", id="editQuestionValue1", value=value1, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state1", id="editQuestionState1", value=state1, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type1')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type1=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width1", id="editQuestionWidth1", value=width1, size=5)
                div

                    <br><br>

                div

                    span.label Data 2 : 
                    &nbsp;                  
                    input(type="text",  value="Values for Data 2", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id2", id="editQuestionId", value=2, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name2", id="editQuestionName2", value=name2, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value2", id="editQuestionValue2", value=value2, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state2", id="editQuestionState2", value=state2, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type2')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types
                      for item in values
                        option(value = "#{item}",selected=type2=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width2", id="editQuestionWidth2", value=width2, size=5)
                div

                    <br><br>
                div

                    span.label Data 3 : 
                    &nbsp;                
                    input(type="text",  value="Values for Data 3", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id3", id="editQuestionId3", value=3,size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name3", id="editQuestionName3", value=name3, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value3", id="editQuestionValue3", value=value3, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state3", id="editQuestionState3", value=state3, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type3')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type3=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width3", id="editQuestionWidth3", value=width3, size=5)
                div

                    <br><br>
                div

                    span.label Data 4 : 
                    &nbsp;                   
                    input(type="text",  value="Values for Data 4", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id4", id="editQuestionId4", value=4, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name4", id="editQuestionName4", value=name4, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value4", id="editQuestionValue4", value=value4, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state4", id="editQuestionState4", value=state4, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type4')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type4=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width4", id="editQuestionWidth4", value=width4, size=5)
                div

                    <br><br>                
                div

                    span.label Data 5 : 
                    &nbsp;                   
                    input(type="text",  value="Values for Data 5", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id5", id="editQuestionId5", value=5, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name5", id="editQuestionName5", value=name5, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value5", id="editQuestionValue5", value=value5, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state5", id="editQuestionState5", value=state5, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type5')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type5=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width5", id="editQuestionWidth5", value=width5, size=5)
                 div

                    <br><br>               
                div

                    span.label Data 6 : 
                    &nbsp;                  
                    input(type="text",  value="Values for Data 6", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id6", id="editQuestionId6", value=6, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name6", id="editQuestionName6", value=name6, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value6", id="editQuestionValue6", value=value6, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state6", id="editQuestionState6", value=state6, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type6')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type6=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width6", id="editQuestionWidth6", value=width6, size=5)
                div

                    <br><br>               
                div

                    span.label Data 7 : 
                    &nbsp;                 
                    input(type="text",  value="Values for Data 7", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id7", id="editQuestionId7", value=7, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name7", id="editQuestionName7", value=name7, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value7", id="editQuestionValue7", value=value7, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state7", id="editQuestionState7", value=state7, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type7')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type7=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width7", id="editQuestionWidth7", value=width7, size=5)
                 div

                    <br><br>               
                div

                    span.label Data 8 : 
                    &nbsp;                   
                    input(type="text",  value="Values for Data 8", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id8", id="editQuestionId8", value=8, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name8", id="editQuestionName8", value=name8, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value8", id="editQuestionValue8", value=value8, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state8", id="editQuestionState8", value=state8, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type8')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types 
                      for item in values
                        option(value = "#{item}",selected=type8=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width8", id="editQuestionWidth8", value=width8, size=5)
                div

                    <br><br>                
                div

                    span.label Data 9 : 
                    &nbsp;                   
                    input(type="text",  value="Values for Data 9", size=15, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div

                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id9", id="editQuestionId9", value=9, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name9", id="editQuestionName9", value=name9, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value9", id="editQuestionValue9", value=value9, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state9", id="editQuestionState9", value=state9, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type9')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types
                      for item in values
                        option(value = "#{item}",selected=type9=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width9", id="editQuestionWidth9", value=width9, size=5)
                div

                    <br><br>                
                div

                    span.label Data 10 : 
                    &nbsp;                   
                    input(type="text",  value="Values for Data 10", size=17, readonly="true", style="BACKGROUND-COLOR: LightGrey") 
                div
                     
                    span.label Id : 
                    &nbsp;
                    input(type="text", name="id10", id="editQuestionId10", value=10, size=1, readonly="true", style="BACKGROUND-COLOR: LightGrey")
                div

                    span.label Name : 
                    &nbsp;
                    input(type="text", name="name10", id="editQuestionName10", value=name10, size=40)
                div

                    span.label Value : 
                    &nbsp;
                    input(type="text", name="value10", id="editQuestionValue10", value=value10, size=40)
                div

                    span.label State : 
                    &nbsp;
                    input(type="text", name="state10", id="editQuestionState10", value=state10, size=40)
                div

                    span.label Type : 
                    &nbsp;
                    select(name='type10')
                      values = config.DROPDOWN_DATA.QUESTION_DATA.types
                      for item in values
                        option(value = "#{item}",selected=type10=="#{item}") #{item}
                div

                    span.label Width : 
                    &nbsp;
                    input(type="text", name="width10", id="editQuestionWidth10", value=width10, size=5)
                div
                    <br><br>
                div

                    span.label Question Specific : 
                    &nbsp;
                    textarea(name="questionSpecific", id="editQuestionQuestionSpecific",rows=15,cols=50)
                         |#{questionSpecific}   
                div

                    <br><br>                
                div#editQuestionSubmit

                    input(type="submit", value="Save")

        a(href="/question/home")!= "Back to Main Menu"