body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
  background-color: #ffc;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  margin-left: auto;
  margin-right: auto;
  text-valign: middle;
  font-size: 20px;
  color: #555;
  width: 600px;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  text-valign: middle;
  font-size: 30px;
  border: 3px;
  background-color: #eee;
  border-style: solid;
}
#questions {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-color: #000;
  border-style: solid;
  width: 900px;
}
#questions .question {
  margin: 5px;
}
#questions .question .created_at {
  display: none;
}
#questions .question .questionName {
  font-weight: bold;
  background-color: #eee;
}
#questions .question .questionType {
  background-color: #ffa;
}
#questions .question .questionDescription {
  background-color: #ffa;
}
#questions .question .questionCategory {
  background-color: #ffa;
}
#questions .question .questionText0 {
  background-color: #ffa;
}
#questions .question input#delete {
  margin-left: 800px;
}
#questions .question input#edit {
  margin-left: 800px;
}
.newquestion {
  border: 3px;
  border-color: #000;
  border-style: solid;
  background-color: #ffa;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  text-align: left !important;
}
#flows {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-color: #000;
  border-style: solid;
  width: 900px;
}
#flows .flow {
  margin: 5px;
}
#flows .flow .created_at {
  display: none;
}
#flows .flow .flowName {
  font-weight: bold;
  background-color: #eee;
}
#flows .flow .ruleName_todaysData {
  background-color: #ffa;
}
#flows .flow .ruleName_weeksData {
  background-color: #ffa;
}
#flows .flow .ruleName_competitionData {
  background-color: #ffa;
}
#flows .flow input#delete {
  margin-left: 800px;
}
#flows .flow input#edit {
  margin-left: 800px;
}
#flows .flow input#export {
  margin-left: 800px;
}
.newflow {
  border: 3px;
  border-color: #000;
  border-style: solid;
  background-color: #ffa;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  text-align: left !important;
}
input[type =button],
input[type =submit] {
  clear: both;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.label {
  width: 195px;
  font-weight: bold;
  text-align: right !important;
  display: block;
  float: left;
}
#Links {
  text-align: center;
  text-valign: middle;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-color: #000;
  border-style: solid;
  background-color: #ffa;
  width: 600px;
}
