body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background-color #FFFFCC
a
  color: #00B7FF
h1, h2
  margin-left auto
  margin-right auto
  text-valign middle
  font-size 20px
  color #555
  width 600px  
h1
  text-shadow 1px 2px 2px #ddd
  text-valign middle
  font-size 30px
  border 3px
  background-color #eee
  border-style solid 
#questions
  text-align left
  margin-left auto
  margin-right auto
  border 3px
  border-color #000
  border-style solid
  width 900px
  .question      
    margin 5px   
    .created_at
        display none
    .questionName
        font-weight bold
        background-color #eee	
    .questionType        
        background-color #ffa	
    .questionDescription       
        background-color #ffa  
    .questionCategory        
        background-color #ffa
    .questionText0
        background-color #ffa
       input#delete           
        margin-left: 800px;
       input#edit         
        margin-left: 800px;
.newquestion
    border 3px
    border-color #000
    border-style solid
    background-color #ffa
    width 650px
    margin-left auto
    margin-right auto
    padding 14px
    text-align left !important   
#flows
  text-align left
  margin-left auto
  margin-right auto
  border 3px
  border-color #000
  border-style solid
  width 900px
  .flow      
    margin 5px   
    .created_at
        display none
    .flowName
        font-weight bold
        background-color #eee	
    .ruleName_todaysData        
        background-color #ffa	
    .ruleName_weeksData       
        background-color #ffa  
    .ruleName_competitionData        
        background-color #ffa
       input#delete           
        margin-left: 800px;
       input#edit         
        margin-left: 800px;
       input#export         
        margin-left: 800px;
.newflow
    border 3px
    border-color #000
    border-style solid
    background-color #ffa
    width 550px
    margin-left auto
    margin-right auto
    padding 14px
    text-align left !important     
  input[type =button], input[type =submit]
    clear both
    text-align left
    margin-left auto
    margin-right auto
    display block
  .label
      width 195px 
      font-weight bold    
      text-align right !important      
      display block
      float left
#Links
  text-align center
  text-valign middle
  margin-left auto
  margin-right auto
  border 1px
  border-color #000
  border-style solid
  background-color #ffa
  width 600px
 